

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  
  th {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
    background: #9bb2ff;
    border-top: 1px solid #aabcfe;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(0, 3, 155);
  }
  
  td {
    text-align: center;
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: #669;
    border-top: 1px solid transparent;
  }
  
  tr:hover td {
    background: #d0dafd;
    color: rgb(57, 57, 255);
  }