.container{
    margin-block-start: 1%;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  
  th {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 1px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
  }
  
  td {
    text-align: center;
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
  }
  
  tr:hover td {
    background: #d0dafd;
    color: #339;
  }